<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=0.9">
	<meta property="og:site_name" content="Discord Music Bot">
	<meta content="Ruby" property="og:title" />
	<meta property="og:ttl" content="600">
	  <meta content="The Discord Music Bot Made with Love [*]and a little bit Coding[*]" property="og:description" />
	  <meta content="https://wife-ruby.ml" property="og:url" />
	  <meta name="og:image" itemprop="image" content="logo.png">
	<meta property="og:image:width" content="151">
	  <meta property="og:image:height" content="151">
	  <meta content="#7F00FF" data-react-helmet="true" name="theme-color" />
    <title>Ruby - Discord Music Bot</title>
	<link rel="shortcut icon" type="image/png" href="icon.png" async/>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/fontawesome.min.css"
    />
	<link 
	href="https://fonts.googleapis.com/css?family=Cookie" 
	rel="stylesheet"
	/>
  </head>
  <body>
    <section class="main">
      <!-- Navbar -->      
	  <nav id="navigation">
        <div class="con">
			<header id="header" class="alt">
            <a href="/" class="logo"><img src="logo.png" async alt="Logo"  async><strong>Ruby</strong>Music Bot</a>
			<div class="dickm">
			<nav class="topnav-right">
				<a href="#menu">Menu</a>
			</nav>
			</div>
		</div>
		</header>
        </div>
    </nav>
      <!-- End Navbar -->

      <!-- Hero entry 👌 -->
	  <div class="flex">
        <section class="showcase">
            <div class="container">
                <div class="info">
                    <h1 id="description">  
						<span
						class="txt-rotate"
						data-period="1000"
						data-rotate='[ "Transform any song with  unique audio effects.",
        "Bot Made with Love for Girlfriend.",
        "Organize Karaoke nights with your friends or family.",
        "Ruby is the easiest way to play music in your server.",
"Share your music tastes with your friends." ]'></span>
</h1>
					<br>
                    <p>Ruby is the easiest way to play music in your server.
					<br>
			An advanced music bot, supports Spotify, YouTube & more
            with Shuffling, Volume Control!</p>
			<div class = "invitef"> <a href="https://discord.com/api/oauth2/authorize?client_id=843201958173212783&permissions=100003009&scope=bot%20applications.commands"><button class="btn btn-light">Add to Discord</button></div></a>
                </div>
                <img src="logo.png" async />
            </div>
        </section>
         
      <!-- End Hero -->

      <!-- Features -->
<div id="features" class="section-features">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-8">
              <div class="header-section">
                <h2 class="title">Exclusive <span>Features</span></h2>
                <p class="description">
                  There are many Features in Ruby music bot! Every awesome
                  features of this bot has been descirbed below check it out 😉
                </p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10 col-md-8 col-lg-5 col-xl-4">
              <div class="single-service">
                <div class="part-1">
                  <i class="fab fa-spotify"></i>
                  <h3 class="title">Spotify,  YouTube Support</h3>
                </div>
                <div class="part-2">
                  <p class="description">
                    Use your spotify playlist, youtube videos, youtube playlists
                    and much more using this bot
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-4 col-xl-4">
              <div class="single-service">
                <div class="part-1">
                  <i class="fas fa-music"></i>
                  <h3 class="title">Freemium</h3>
                </div>
                <div class="part-2">
                  <p class="description">
					<br>
					24/7 Support & Filters for Free
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-10 col-md-8 col-lg-4 col-xl-4">
              <div class="single-service">
                <div class="part-1">
                  <i class="fas fa-american-sign-language-interpreting"></i>
                  <h3 class="title">Interactive Embed</h3>
                </div>
                <div class="part-2">
                  <p class="description">					  
                    See the Chnage in the Embed in real Time on the Usage of Commands
                  </p>
                </div>
              </div>
            </div>
			<div class="row justify-content-center text-center">
				<div class="col-md-10 col-lg-8">
				  <div class="header-section">
					  <br>
					  <b>
					<p class="description">
					  Use the Help Command or Join Support server to Know more~ (¬_¬ )
					</p>
					</b>
				  </div>
				</div>
			  </div>
          </div>
        </div>
      </div>
	  
      <!-- End Features -->
      
      <!-- Commands -->
      <div class="commands" id="commands">
        <div class="container">
          <h2 class="title text-center">Commands</h2>
		  <details class="music">
			<summary>Music Commands</summary>
													 <div class="faq__content">
														<table class="table table-dark">
															<thead>
															  <tr>
																<th scope="col">Command</th>
																<th scope="col">Aliases</th>
																<th scope="col">Usage</th>
																<th scope="col">Description</th>
															  </tr>
															</thead>
															<tbody id="music-commands-body"></tbody>
														  </table>
	  
												   </details>
												   <details class="filter">
													<summary>Filter Commands</summary>
	 <div class="faq__content">
		<table class="table table-dark">
			<thead>
			  <tr>
				<th scope="col">Command</th>
				<th scope="col">Aliases</th>
				<th scope="col">Usage</th>
				<th scope="col">Description</th>
			  </tr>
			</thead>
			<tbody id="filter-commands-body"></tbody>
		  </table>
											  </div>
   </details>
   <details class="admin">
	<summary>Admin Commands</summary>
	 <div class="faq__content">
		<table class="table table-dark">
			<thead>
			  <tr>
				<th scope="col">Command</th>
				<th scope="col">Aliases</th>
				<th scope="col">Usage</th>
				<th scope="col">Description</th>
			  </tr>
			</thead>
			<tbody id="admin-commands-body"></tbody>
		  </table>
																					  </div>
   </details>
   <details class="info">
	<summary>Info Commands</summary>
											 <div class="faq__content">
												<table class="table table-dark">
<thead>
  <tr>
	<th scope="col">Command</th>
	<th scope="col">Aliases</th>
	<th scope="col">Usage</th>
	<th scope="col">Description</th>
  </tr>
</thead>
<tbody id="info-commands-body"></tbody>
												  </table>
									  </div>
										   </details>
										   <details class="fun">
											<summary>Fun Commands</summary>
								 <div class="faq__content">
									<table class="table table-dark">
										<thead>
										  <tr>
											<th scope="col">Command</th>
											<th scope="col">Aliases</th>
											<th scope="col">Usage</th>
											<th scope="col">Description</th>
										  </tr>
										</thead>
										<tbody id="fun-commands-body"></tbody>
									  </table>
									  </div>
							   </details> 
										   <details class="misc">
											<summary>Misc Commands</summary>
								 <div class="faq__content">
									<table class="table table-dark">
										<thead>
										  <tr>
											<th scope="col">Command</th>
											<th scope="col">Aliases</th>
											<th scope="col">Usage</th>
											<th scope="col">Description</th>
										  </tr>
										</thead>
										<tbody id="misc-commands-body"></tbody>
									  </table>
									  </div>
							   </details>
    
        </div>
      </div>
      <!-- End Commands -->
      <!-- Footer -->
	  <div class="banner" id="about">   
		<div class="strokeme">             
                    <h1>Ready to use Ruby Bot?</h1>
				</div>
				<div class = "invite"> <a href="https://discord.com/api/oauth2/authorize?client_id=843201958173212783&permissions=100003009&scope=bot%20applications.commands"><button class="btn btn-light btn-lg">Invite Bot</button></div></a>           
		  </div>
	  </div>
	  <div class="footer">
		<div class="donate"><a class="bmc-button" target="_blank" href="/donate"><i class="fa fa-donate" style="margin-top:4px"></i><span style="margin-left:5px">Donate</span></a></div>
		<div class="container">			
          <div class="row">
            <div class="col-md-12">
              <div class="copyright-text">
				<br>
                <p>
                  © <a href="//discord.com/users/843201958173212783">Ruby Bot</a
                  >. All rights reserved. Made by
                  <a href="//discord.com/users/604309370301448203">Ahlawat</a> and his
                  <a href="//discord.com/users/701424426394320967"
                    >GirlFriend</a
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
		<div class="credits">
		<p>				
			Hosted by:
			<a href="//cp.something.host/" class="something">Something.host</a> & <a href="//replit.com/" class="replit">Replit</a>
		  <p>
      </div>
	</div>
      <!-- End Footer -->
    </section>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="jquery.min.js"></script>
			<script src="jquery.scrolly.min.js"></script>
			<script src="jquery.scrollex.min.js"></script>
			<script src="browser.min.js"></script>
			<script src="breakpoints.min.js"></script>
			<script src="main.js"></script>
			<script src="cmd.js"></script>
			<script src="txt.js"></script>
			<nav id="menu"><div class="inner">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="#features">Features</a></li>
					<li><a href="#commands">Commands</a></li>
					<li><a href="#about">About</a></li>
					<li><a href="https://discord.com/oauth2/authorize?client_id=843201958173212783&permissions=8&scope=bot%20applications.commands">Invite Bot To server</a></li>
					<li><a href="https://discord.com/invite/cDE6Trv8yM">Support</a></li>
				</ul>
			</div><a class="close" href="#menu">Close</a></nav>
  </body>
<link rel="stylesheet" href="main-page.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</html>
